/* navi start */
#con:hover{
    background-color: #302D68;
    border-radius: 0.313rem;
    color: white;
    
}  

#abo:hover{
    background-color: #302D68;
    border-radius: 0.313rem;
    color: white;
}

body{
    margin: 0rem;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 0.813rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E5E5E5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #302D68; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A52A2A; 
  }

.navi{
     padding: 0.313rem 0.313rem;
     border-bottom: 0.063rem solid black;
     background-color: #E5E5E5;
     display: flex;
     justify-content: space-between;
     height: 5.563rem;
     position: relative;
     overflow: hidden;   
}

.navi > #row-1 > a{
    text-decoration: none;
}

.navi > #row-2 > a{
    text-decoration: none;
}

#images{
    width: 6.592rem;
    margin-top: -0.938rem;
}

#row-1{
    display: flex;
    align-items: center;
    

}
#row-2{
    display: flex;
    align-items:center;
    margin-right: 0rem;

}

#abo{
    width: 5.634rem;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.335rem;
line-height: 1.875rem;
color: #302D68;
padding-left: 0.625rem;
padding-right: 0.625rem;

margin-right: 2.5rem;

}

#con{
    width: 5.634rem;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.335rem;
line-height: 1.875rem;
padding-left: 0.938rem;
padding-right: 0rem;

margin-right: 0.625rem;

color: #302D68;
}

#st{
    width: 21.751rem;
    font-family: roboto;
font-style: normal;
font-weight: normal;
font-size: 2.003rem;
line-height: 2.375rem;

color: #302D68;
margin-top: 0.625rem;
}

#wr{
    width: 185.0.813rem;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.335rem;
line-height: 1.563rem;

color: #302D68;
margin-left: 2.5rem;
margin-top: -1.563rem;
}



#dropdown > ul {
   padding: 0;
   margin: 0;
   width: 12.5rem;
   
   background-color: #E5E5E5;
   text-align: center;
   list-style: none;
   border-radius: 0.625rem;
   border: 0.031rem solid black;
   
    
   
}



#dropdown > ul > li{
    padding: 0.625rem;

}

#dropdown > ul > li:hover{
    background-color: #302D68;
    border-radius: 0.625rem;
    

}

#dropdown > ul > li > a:hover{
    
    color: white;
    

}

#dropdown > ul > li > a > i{
    width: 1.563rem;
    padding-top: 0.313rem;
    
    
    
}

#dropdown > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: roboto;
    
}

#dropdown{
    
    display: none;
    position: absolute;
    margin-left: 60.625rem;
}

/* navi end */


/* footer start */


#top-5{
    height: 19.375rem;
    background-color: #302D68;
    border-top: 0.031rem solid black;
    overflow: hidden;
    }
    
    .aboutus{
        text-align: center;
       /*width: 100vw;*/
    height: 2.501rem;
    color: white;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 2.555rem;
    line-height: 3.563rem;
    margin-top: 0.625rem;
    }
    
    .foot-1 >h3{
    width:45.556rem;
    height:9.333rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.111rem;
    line-height: 1.875rem;
    color: white;
    }
    
    .foot-1 >h3 > span{
        color: yellowgreen;
    }
    
    .foot-2 > a >h3{
        width: 21.931rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.111rem;
    color: white;
    line-height: 2.188rem;
    }
    .foot-2 > a >h3:hover{
        color:yellowgreen;
    }
    
    .foot-2 > a{
        text-decoration: none;
    }
    
    .flexwrapfooter{
        display: flex;
        justify-content: space-between;
        margin: 0.625rem;
    }
    

/* footer end */


/* product start */

.product-h{
    text-align: center;
    /*width:100vw;*/
height: 2.501rem;
color: #302D68;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 2.555rem;
line-height: 3.563rem;
}

.product-s{
    color: #A52A2A;
}




.main-img{
    width: 11.063rem;
    border-radius: 0.938rem;
}

.product-desc-h{
    width: 11.563rem;
height: 8.028rem;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 2rem;
color: #302D68;
margin-top: 0rem;
margin-bottom: 0rem;
}





.main-content > a > article{
    border:0.063rem solid gray;
    padding: 0.625rem;
    border-radius: 0.625rem;
    width: 12.5rem;
    height: 20.75rem;
    display: grid;
    background-color: #f2f2f2;
}


.main-content > a{
    text-decoration: none;
}

.main-content > a> article:hover{
    animation: zoom 1s forwards;
    border:0.063rem solid #302D68;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.313rem grey;

}

.main-content{
    display: grid;
    grid-template-columns: 15.625rem 15.625rem 15.625rem 15.625rem;
    row-gap: 2.5rem;
    margin-left: 1.563rem;
    justify-content: space-around;
   
    
}


#top-1{
    border-top: 0.890047px solid #000000;
    
    margin-top: 2.5rem;
    background-color: #F2F2F2;
    /*width:100vw;*/
    padding-bottom: 2.5rem;
    overflow: hidden;

}



@keyframes zoom {
    0%{
        transform: scale(1);
        
    }

    100%{
        transform: scale(1.1);
    }
}


/* product end */

/* extra product for image start */

.main-content > a > article > img{
    margin-top: 1.563rem;
    margin-left: 0.5rem;
}

#scm{
    margin-top: 0rem;
}


#smkc{
   margin-top: 3.125rem;
}

#sct{
   margin-top: 3.125rem;
}

#sss{
    width: 9.375rem;
}


#nnn{
    width: 8.125rem;
}

#ddd{
    width: 9.375rem;
}

#fff{
    width: 9.375rem;
}

#last{
    width: 8.125rem;
}


#mmm{
    width: 8.125rem;
}


#mmm{
    margin-top: 3.125rem;
}

#bbb{
    width: 5rem;
}
/*
#wekc{
   margin-top: 1.563rem;
}
#ackc{
   margin-top: 2.5rem;
} */

/* extra product for image end */




/*pop up box start */

#popupbox{
    position:fixed;
    top: 20%;
    left: 30%;
    text-align: center;
    display: none;
width: 31.25rem;
/* left: 380px;
top: 8.125rem; */

background: #302D68;
border-radius: 1.563rem;
box-shadow: 0.625rem 0.625rem 0.313rem grey;
animation: right-left 1s ;
}

#popupbox > h3{
    color: #FFFF00;
    font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 1.5rem;
line-height: 0.313rem;
}



#popupbox > h1{
    font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 1.688rem;
color: #FFFFFF;

}

#popupbox > .telephone{
text-decoration: none;

}

#popupbox > .telephone > .telephoneh1:hover{
    background-color: #DBDBDB;
    /* color: #000029; */
  
}


#popupbox > .telephone >.telephoneh1{
    
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.688rem;
border-radius: 0.5rem;
background-color: #FFFFFF;
color: #000000;
}

#popupbox > .whatsapp{
text-decoration: none;

}

#popupbox > .whatsapp >.whatsapph1{
    
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.688rem;
border-radius: 0.5rem;
background-color: #179C0D;
color: #FFFFFF;
}

#popupbox > .whatsapp >.whatsapph1:hover{
    background-color: #117509;
    /* color: #DBDBDB; */
}

#popupbox > .cancel{
    text-decoration: none;
    
    }
    
    #popupbox > .cancel >.cancelh1{
        
        font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.688rem;
    border-radius: 0.5rem;
    background-color: #FF0000;
    color: #FFFFFF;
    }


    #popupbox > .cancel >.cancelh1:hover{
        background-color: #CC0000;
    }


    @keyframes right-left {
        0%   { opacity:0; }
        
        100% { opacity:1; }
    }
    

    /* popup end */


    
/* media query for mobile screen in portrait mode start */

@media screen and (max-width:400px) {
    
    /* navi */
    #st{
        font-size: 1.378rem;
    }
    #wr{
        font-size: 1.148rem;
    }
    #images{
        width: 5.655rem;
    }
    /* navi */


    /* footer */
    .foot-1 >h3 {
        font-size: 0.549rem;
    }

    #top-5{
        height: 33rem;
    }

    .flexwrapfooter{
        flex-wrap: wrap;
    }

    .foot-1 >h3 {
        padding-bottom: 3.125rem;
    }
    

    /* footer */

    .main-content{
        grid-template-columns: 15.625rem ;
    }

    .product-h{
        padding-bottom: 3.125rem;
    }

    /* popup */
    #popupbox > h3{
        font-size: 1rem;

    }
    #popupbox{
        top: 15%;
        left: 10%;
        width: 17.75rem;
    }
    /* popup */



}

/* media query for mobile screen in portrait mode end */







/* media query for tablet screen in landscape mode start */
@media screen and (min-width:601px) and (max-width:800px) {
    

    .main-content{
        
        grid-template-columns: 15.625rem 15.625rem 15.625rem ;
    }

    #dropdown {
        margin-left: 27.625rem;
    }

    #popupbox{
        left: 15%;
    }
    /* footer */
    
    #top-5{
        height: 33rem;
    }

    .flexwrapfooter{
        flex-wrap: wrap;
    }

    .foot-1 >h3 {
        padding-bottom: 3.125rem;
    }
    

    /* footer */
}
/* media query for tablet screen in landscape mode end */




/* media query for tablet screen in portrait mode start */
@media screen and (min-width:401px) and (max-width:600px){
    #abo{
        display: none;
    }
    #dropdown{
        margin-left: 15.625rem;
    }
    .main-content{
        
        grid-template-columns: 15.625rem 15.625rem ;
        
        
    }

    #popupbox{
        left: 5%;
    }
    .product-h{
        padding-bottom: 3.125rem;
    }

     /* footer */
    
     #top-5{
        height: 33rem;
    }

    .flexwrapfooter{
        flex-wrap: wrap;
    }

    .foot-1 >h3 {
        padding-bottom: 3.125rem;
    }
    

    /* footer */
}

/* media query for tablet screen in portrait mode start */

/* media query for small laptop screen in start */
@media screen and (min-width:801px) and (max-width:1030px){
    #dropdown{
        margin-left: 40.625rem;
    }

    

    
}


/* media query for small laptop screen in start */
