html{
    font-size: 16px;
}

marquee{
    margin-top: 1.875rem;
    background-color: #E5E5E5;
    color: #302D68;
    font-size: 1.25rem;
    font-family: roboto;
    padding:0.313rem ;
    font-weight: 2.5rem;
    border-top: 0.056rem solid #000000;
    border-bottom: 0.056rem solid #000000;
}
marquee > span{
    color: #A52A2A;
}


#con:hover{
    background-color: #302D68;
    border-radius:0.313rem;
    color: white;
    
}  

#abo:hover{
    background-color: #302D68;
    border-radius: 0.313rem;
    color: white;
}

body{
    margin: 0rem;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 0.813rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E5E5E5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #302D68; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A52A2A; 
  }

.navi{
     padding: 0.313rem 0.313rem;
     border-bottom: 0.063rem  solid black;
     background-color: #E5E5E5;
     display: flex;
     justify-content: space-between;
     height:5.563rem ;
     position: relative; 
     overflow: hidden;   
}

.navi > #row-1 > a{
    text-decoration: none;
}

.navi > #row-2 > a{
    text-decoration: none;
}

#images{
    width: 6.592rem;
    margin-top: -0.938rem;
}

#row-1{
    display: flex;
    align-items: center;
    

}
#row-2{
    display: flex;
    align-items:center;
    margin-right: 0rem;

}

#abo{
    width: 5.634rem;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size:1.335rem;
line-height: 1.875rem;
color: #302D68;
padding-left:0.625rem;
padding-right: 0.625rem;



}

#con{
    width: 5.634rem;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.335rem;
line-height: 1.875rem;
padding-left: 0.938rem;
padding-right: 0rem;

margin-right: 0.625rem;

color: #302D68;
}

#st{
    width: 21.751rem;
    font-family: roboto;
font-style: normal;
font-weight: normal;
font-size: 2.003rem;
line-height: 2.375rem;

color: #302D68;
margin-top: 0.625rem;
}

#wr{
    width: 11.571rem;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.335rem;
line-height: 1.563rem;

color: #302D68;
margin-left: 2.5rem;
margin-top: -1.563rem;
}



#dropdown > ul {
   padding: 0;
   margin: 0;
   width: 12.5rem;
   
   background-color: #E5E5E5;
   text-align: center;
   list-style: none;
   border-radius: 0.625rem;
   border: 0.031rem solid black;
   
    
   
}



#dropdown > ul > li{
    padding: 0.625rem;

}

#dropdown > ul > li:hover{
    background-color: #302D68;
    border-radius: 0.625rem;
    

}

#dropdown > ul > li > a:hover{
    
    color: white;
    

}

#dropdown > ul > li > a > i{
    width: 1.563rem;
    padding-top: 0.313rem;
    
    
    
}

#dropdown > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: roboto;
    
}

#dropdown{
    
    display: none;
    position: absolute;
    margin-left: 60.625rem;
}

/*end of nav bar*/
#slide{
height: 23.864rem;
margin-top: 2.688rem;
background: linear-gradient(269.94deg, #302D68 21.19%, #E5E5E5 63.95%);
border: 0.056rem solid #000000;
box-sizing: border-box;
border-radius: 0.695rem;
display: flex;
justify-content: space-between;
align-items: center;
animation: right-left 1s ;
overflow: hidden;



}



#slide >.slide-1{
    margin-left: 0.625rem;
    
}

#slide >.slide-1 > h1{
width: 31.013rem;
height: 3.254rem;
left: 9.624rem;
top: 10.653rem;


font-family: Alfa Slab One;
font-style: normal;
font-weight: normal;
font-size: 2.003rem;
line-height: 2.75rem;

color: #302D68;
}

#slide >.slide-1 > h1 > span{
    width: 31.013rem;
    height: 3.254rem;
    left: 9.624rem;
    top: 10.653rem;
    
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 2.003rem;
    line-height: 2.75rem;
    
    color: #A52A2A;
    }

#slide >.slide-1 > h3{
    

    width:37.5rem;
height: auto;
left: 9.624rem;
top:14.741rem;

font-family: Montez;
font-style: normal;
font-weight: normal;
font-size:2.67rem;
line-height:3.5rem;
margin-top: 0rem;

color: #302D68;

}
#btn-shop{
    width: 12.5rem;
    height: 2.5rem;
    background: #A52A2A;
    color: white;
    border-radius: 0.695rem;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
}

#btn-shop:hover{
    background-color: #302D68;
    color: white;
}


#img-1{
    float: right;
    width:22.251rem;
    height:22.251rem;
    margin-top: 1.875rem;
    margin-right:0rem;
    padding-left:4.375rem;
    

    
}



#slide >.slide-2{
    display: flex;
}

#slide > .left-key > button >img{
    width: 1.875rem;
    display: flex;
    
    
    
}
#slide > .left-key > button{
    border-radius:0.5rem;
    background-color: #E5E5E5;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.625rem;
}

#slide > .right-key > button{
    border-radius:0.5rem;
    background-color: #302D68;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.625rem;
    
    
}

#slide > .right-key > button:hover{
    background-color: #E5E5E5;
    color: white;
}

#slide > .left-key > button:hover{
    background-color: #A2A0B6;
    color: white;
    
}


#slide > .right-key > button >img{
    width: 1.875rem;
    display: flex;
    
    
    
}


/*end of slide 1*/

























/*slide two start*/


#slide-02{
height: 23.864rem;
margin-top: 2.688rem;
background: linear-gradient(269.94deg, #302D68 21.19%, #E5E5E5 63.95%);
border: 0.056rem solid #000000;
box-sizing: border-box;
border-radius: 0.695rem;
display: flex;
justify-content: space-between;
align-items: center;
display: none;
animation: right-left 1s ;
overflow: hidden;




}

#slide-02 > .left-key > button{
    border-radius:0.5rem;
    background-color: #E5E5E5;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.625rem;
}


#slide-02 > .left-key > button >img{
    width: 1.875rem;
    display: flex;
    
    
    
}

#slide-02 > .left-key > button:hover{
    background-color: #A2A0B6;
    color: white;
    
}

#slide-02 >.slide-1{
    margin-left: 0.625rem;
    
}

#slide-02 >.slide-1 > h1{
width:37.513rem;
height: 3.254rem;
left: 9.624rem;
top: 10.653rem;


font-family: Alfa Slab One;
font-style: normal;
font-weight: normal;
font-size: 2.003rem;
line-height: 2.75rem;

color: #302D68;

}

#slide-02 >.slide-1 > h1 > span{
    width: 31.013rem;
    height: 3.254rem;
    left: 9.624rem;
    top: 10.653rem;
    
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 2.003rem;
    line-height: 2.75rem;
    
    color: #A52A2A;
    
    }

#slide-02 >.slide-1 > h3{
    

    width:37.5rem;
height: auto;
left: 9.624rem;
top:14.741rem;

font-family: Montez;
font-style: normal;
font-weight: normal;
font-size:2.67rem;
line-height:3.5rem;
margin-top: 0rem;

color: #302D68;


}
#btn-shoping{
    width: 12.5rem;
    height: 2.5rem;
    background: #A52A2A;
    color: white;
    border-radius: 0.695rem;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
}

#btn-shoping:hover{
    background-color: #302D68;
    color: white;
}


#img-2{
    float: right;
    width:22.251rem;
    height:22.251rem;
    margin-top: 1.875rem;
    margin-right:0rem;
    padding-left:4.375rem;
    

    
}



#slide-02 >.slide-2{
    display: flex;
}

#slide-02 > .right-key > button{
    border-radius:0.5rem;
    background-color: #302D68;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.625rem;

}

#slide-02 > .right-key > button:hover{
    background-color: #E5E5E5;
    color: white;
}

#slide-02 > .right-key > button >img{
    width: 1.875rem;
    display: flex;
    
    
    
}


/*slide 2 finished*/





#slide-03{
    
height: 23.864rem;
margin-top: 2.688rem;
background: linear-gradient(269.94deg, #302D68 21.19%, #E5E5E5 63.95%);
border: 0.056rem solid #000000;
box-sizing: border-box;
border-radius: 0.695rem;
display: flex;
justify-content: space-between;
align-items: center;
display: none;
animation: right-left 1s ;
overflow: hidden;




}

#slide-03 > .left-key > button{
    border-radius:0.5rem;
    background-color: #E5E5E5;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.625rem;
}


#slide-03 > .left-key > button >img{
    width: 1.875rem;
    display: flex;
    
    
    
}

#slide-03 > .left-key > button:hover{
    background-color: #A2A0B6;
    color: white;
    
}

#slide-03 >.slide-1{
    margin-left: 0.625rem;
    
}

#slide-03 >.slide-1 > h1{
width:37.513rem;
height: 3.254rem;
left: 9.624rem;
top: 10.653rem;


font-family: Alfa Slab One;
font-style: normal;
font-weight: normal;
font-size: 2.003rem;
line-height: 2.75rem;

color: #302D68;

}

#slide-03 >.slide-1 > h1 > span{
    width: 31.013rem;
    height: 3.254rem;
    left: 9.624rem;
    top: 10.653rem;
    
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 2.003rem;
    line-height: 2.75rem;
    
    color: #A52A2A;
    
    }

#slide-03 >.slide-1 > h3{
    

    width:37.5rem;
height: auto;
left: 9.624rem;
top:14.741rem;

font-family: Montez;
font-style: normal;
font-weight: normal;
font-size:2.67rem;
line-height:3.5rem;
margin-top: 0rem;

color: #302D68;


}
#btn-shoping-1{
    width: 12.5rem;
    height: 2.5rem;
    background: #A52A2A;
    color: white;
    border-radius: 0.695rem;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
}

#btn-shoping-1:hover{
    background-color: #302D68;
    color: white;
}


#img-3{
    float: right;
    width:22.251rem;
    height: 31.251rem;
    margin-top: 1.875rem;
    margin-right:0rem;
    padding-left:4.375rem;
    
    

    
}



#slide-03 >.slide-2{
    display: flex;
}

#slide-03 > .right-key > button{
    border-radius:0.5rem;
    background-color: #302D68;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.625rem;

}

#slide-03 > .right-key > button:hover{
    background-color: #E5E5E5;
    color: white;
}

#slide-03 > .right-key > button >img{
    width: 1.875rem;
    display: flex;
    
    
    
}

@keyframes right-left {
    0%   { opacity:0; }
    
    100% { opacity:1; }
}


/*slide 3 finished*/

























#top-1{
    border-top: 0.056rem solid #000000;
    border-bottom: 0.056rem solid #000000;
    margin-top: 2.5rem;
    background-color: #F2F2F2;
   /*width: 100vw;*/
    padding-bottom: 2.5rem;
    overflow: hidden;

}

#top-2{
    
    margin-top: 2.5rem;
    background-color: white;
   /*width: 100vw;*/
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    overflow: hidden;

}

#top-3{
    border-top: 0.056rem solid #000000;
    border-bottom: 0.056rem solid #000000;
    margin-top: 2.5rem;
    background-color: #F2F2F2;
   /*width: 100vw;*/
    padding-bottom: 2.5rem;
    overflow: hidden;

}



/* product 1 start*/
.product-h{
    text-align: center;
   /*width: 100vw;*/
height: 2.501rem;
color: #302D68;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 2.555rem;
line-height: 3.563rem;
}

.product-s{
    color: #A52A2A;
}




.main-img{
    width: 11.063rem;
}

.product-desc-h{
    width: 11.563rem;
height: 128.2.75rem;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 2rem;
color: #302D68;
margin-top: 0rem;
margin-bottom: 0rem;
}





.main-content > a > article{
    border:0.063rem solid gray;
    padding: 0.625rem;
    border-radius: 0.625rem;
    width: 12.5rem;
    height: 18.75rem;
    display: grid;
    background-color: #f2f2f2;
}


.main-content > a{
    text-decoration: none;
}

.main-content > a> article:hover{
    animation: zoom 1s forwards;
    border:0.063rem solid #302D68;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.313rem grey;

}

#scm{
     margin-top: 1.875rem;
}

#smkc{
    margin-top: 1.25rem;
}

#sct{
    margin-top: 2.5rem;
}

#wekc{
    margin-top: 1.563rem;
}
#ackc{
    margin-top: 2.5rem;
}


@keyframes zoom {
    0%{
        transform: scale(1);
        
    }

    100%{
        transform: scale(1.1);
    }
}

/* product 1 end*/

.main-content{
    display: grid;
    grid-template-columns: 15.625rem 15.625rem 15.625rem 15.625rem 15.625rem;
    row-gap: 2.5rem;
    margin-left: 1.563rem;
    justify-content: space-around;
   
    
}

#main-content-2{
    grid-template-columns: 15.625rem 15.625rem;
}

#main-content-3{
    grid-template-columns: 15.625rem 15.625rem;
}

#topmost{
    margin-top: 0rem;
    margin-left: 2.188rem;
    width: 6.25rem;
}


#map{
   /*width: 100vw;*/
   width: 100%;
    border: 0.056rem solid #000000;
    border-radius: 0.625rem;
    
}


#top-4{
    padding-bottom: 2.5rem;
   /*width: 100vw;*/
}

/* footer start*/

#top-5{
height: 19.375rem;
background-color: #302D68;
border-top: 0.031rem solid black;
overflow: hidden;
}

.aboutus{
    text-align: center;
   /*width: 100vw;*/
height: 2.501rem;
color: white;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 2.555rem;
line-height: 3.563rem;
margin-top: 0.625rem;
}

.foot-1 >h3{
width:45.556rem;
height:9.333rem;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.111rem;
line-height: 1.875rem;
color: white;
}

.foot-1 >h3 > span{
    color: yellowgreen;
}

.foot-2 > a >h3{
    width: 21.931rem;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.111rem;
color: white;
line-height: 2.188rem;
}
.foot-2 > a >h3:hover{
    color:yellowgreen;
}

.foot-2 > a{
    text-decoration: none;
}

.flexwrapfooter{
    display: flex;
    justify-content: space-between;
    margin: 0.625rem;
}


/* footer end */


/* media query for mobile screen in portrait mode start */

@media screen and (max-width:400px) {
    .main-content{
        
        grid-template-columns: 15.625rem ;
        
        
    }

    #main-content-2{
        
        grid-template-columns: 15.625rem ;
        
        
    }

    #main-content-3{
        
        grid-template-columns: 15.625rem ;
        
        
    }

    /* navi */
    #st{
        font-size: 1.378rem;
    }
    #wr{
        font-size: 1.148rem;
    }
    #images{
        width: 5.655rem;
    }
    /* navi */


    #slide > .left-key > button >img {
        display: none;
    }

    #slide >.slide-1 > h1{
        font-size:1.566rem ;
    }
    #slide >.slide-1 > h1 > span{
        font-size: 1.566rem;
    }
    .product-h{
        padding-bottom: 7.5rem;
    }

    /* footer */
    .foot-1 >h3 {
        font-size: 0.549rem;
    }

    #top-5{
        height: 33rem;
    }

    .flexwrapfooter{
        flex-wrap: wrap;
    }

    .foot-1 >h3 {
        padding-bottom: 3.125rem;
    }
    

    /* footer */
}

/* media query for mobile screen in portrait mode end */




/* media query for tablet screen in landscape mode start */
@media screen and (min-width:601px) and (max-width:800px) {
    #slide > .left-key > button >img{
        display: none;
    }
    #img-1{
        display: none;
    }
    #slide > .right-key > button >img{
        display: none;
    }

    .main-content{
        
        grid-template-columns: 15.625rem 15.625rem 15.625rem ;
        
        
    }

    #main-content-2{
        
        grid-template-columns: 15.625rem 15.625rem;
        
        
    }

    #main-content-3{
        
        grid-template-columns: 15.625rem 15.625rem;
        
        
    }


    #dropdown {
        margin-left: 27.625rem;
    }
    /* footer */
    
    #top-5{
        height: 33rem;
    }

    .flexwrapfooter{
        flex-wrap: wrap;
    }

    .foot-1 >h3 {
        padding-bottom: 3.125rem;
    }
    

    /* footer */
}
/* media query for tablet screen in landscape mode end */



/* media query for tablet screen in portrait mode start */
@media screen and (min-width:401px) and (max-width:600px){
    #abo{
        display: none;
    }

    #slide > .left-key > button >img{
        display: none;
    }
    #dropdown{
        margin-left: 15.625rem;
    }
    .main-content{
        
        grid-template-columns: 15.625rem 15.625rem ;
        
        
    }

    #main-content-2{
        
        grid-template-columns: 15.625rem 15.625rem;
        
        
    }

    #main-content-3{
        
        grid-template-columns: 15.625rem 15.625rem;
        
        
    }

    .product-h{
        padding-bottom: 3.125rem;
    }

     /* footer */
    
     #top-5{
        height: 33rem;
    }

    .flexwrapfooter{
        flex-wrap: wrap;
    }

    .foot-1 >h3 {
        padding-bottom: 3.125rem;
    }
    

    /* footer */
}

/* media query for tablet screen in portrait mode start */


/* media query for small laptop screen in start */
@media screen and (min-width:801px) and (max-width:1030px){
    #dropdown{
        margin-left: 40.625rem;
    }

    #slide > .left-key > button >img{
        display: none;
    }

    #slide > .right-key > button >img{
        display: none;
    }


    .main-content{
        
        grid-template-columns: 15.625rem 15.625rem  15.625rem  15.625rem ;
        
        
    }
}


/* media query for small laptop screen in start */