/*body{
	position: relative;
	margin:0px;
}
.navi{
	position: absolute;
    width: 100%;
    min-width: 736px;
    height: 89px;
    left: 0px;
    top: 0px;
	
	
	background: #E5E5E5;
    mix-blend-mode: normal;
    border: 0.890047px solid #000000;
    box-sizing: border-box;
    
}
.navi > a > img{
	position: absolute;
    width: 105.47px;
    height: 77.43px;
    left: 29.37px;
    top: 0px;
}

#st{
	position: absolute;
width: 348.01px;
height: 38.72px;
left: 153.98px;
top: -15px;

font-family: roboto;
font-style: normal;
font-weight: normal;
font-size: 32.0417px;
line-height: 38px;

color: #302D68;

mix-blend-mode: normal;

}
#wr{
	position: absolute;
width: 185.13px;
height: 18.25px;
left: 211.39px;
top: 27.84px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 25px;

color: #302D68;
}

#con{
	position: absolute;
width: 82.77px;
height: 29.82px;
left: 1033.34px;
top: 10.37px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 25px;

color: #302D68;

}
*/
#con:hover{
    background-color: #302D68;
    border-radius: 5px;
    color: white;
    
}  
/*
#abo{
	position: absolute;
width: 90.14px;
height: 29.82px;
left: 1145.49px;
top: 10.37px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 25px;

color: #302D68;
}
*/
#abo:hover{
    background-color: #302D68;
    border-radius: 5px;
    color: white;
}

body{
    margin: 0px;
}

.navi{
     padding: 5PX 5PX;
     border-bottom: 1PX solid black;
     background-color: #E5E5E5;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     height: 89px;
     
}

.navi > #row-1 > a{
    text-decoration: none;
}

.navi > #row-2 > a{
    text-decoration: none;
}

#images{
    width: 105.47px;
    margin-top: -15px;
}

#row-1{
    display: flex;
    align-items: center;
    

}
#row-2{
    display: flex;
    align-items:center;
    margin-right: 8px;

}

#abo{
    width: 90.14px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 30px;
color: #302D68;
padding-left: 10px;
padding-right: 10px;

margin-right: 10px;

}

#con{
    width: 90.14px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 30px;
padding-left: 15px;
padding-right: 0px;

margin-right: 10px;

color: #302D68;
}

#st{
    width: 348.01px;
    font-family: roboto;
font-style: normal;
font-weight: normal;
font-size: 32.0417px;
line-height: 38px;

color: #302D68;
margin-top: 10px;
}

#wr{
    width: 185.13px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 25px;

color: #302D68;
margin-left: 40px;
margin-top: -25px;
}

/*
.dropdown > ul{
    width: 150px;
    color: white;
    background-color: #302D68;
    list-style: none;
    display: none;
}*/


.dropdown > ul {
   padding: 0;
   margin: 0;
   width: 150px;
   padding-right: 50px;
   padding-left: 50px;
   background-color: #302D68;
   text-align: center;
   color: white;
   list-style: none;
   border-radius: 10px;
   margin-right: 70px;
   display: block;
   
}

.dropdown{
    float: right;
    
    

}


