
#con:hover{
    background-color: #302D68;
    border-radius: 5px;
    color: white;
    
}  

#abo:hover{
    background-color: #302D68;
    border-radius: 5px;
    color: white;
}

body{
    margin: 0px;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E5E5E5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #302D68; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A52A2A; 
  }

.navi{
     padding: 5PX 5PX;
     border-bottom: 1PX solid black;
     background-color: #E5E5E5;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     height: 89px;
     position: relative;
     width: 100vw;
     
     
     
     
}

.navi > #row-1 > a{
    text-decoration: none;
}

.navi > #row-2 > a{
    text-decoration: none;
}

#images{
    width: 105.47px;
    margin-top: -15px;
}

#row-1{
    display: flex;
    align-items: center;
    

}
#row-2{
    display: flex;
    align-items:center;
    margin-right: 0px;

}

#abo{
    width: 90.14px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 30px;
color: #302D68;
padding-left: 10px;
padding-right: 10px;

margin-right: 40px;

}

#con{
    width: 90.14px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 30px;
padding-left: 15px;
padding-right: 0px;

margin-right: 10px;

color: #302D68;
}

#st{
    width: 348.01px;
    font-family: roboto;
font-style: normal;
font-weight: normal;
font-size: 32.0417px;
line-height: 38px;

color: #302D68;
margin-top: 10px;
}

#wr{
    width: 185.13px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21.3611px;
line-height: 25px;

color: #302D68;
margin-left: 40px;
margin-top: -25px;
}



#dropdown > ul {
   padding: 0;
   margin: 0;
   width: 200px;
   
   background-color: #E5E5E5;
   text-align: center;
   list-style: none;
   border-radius: 10px;
   border: 0.5px solid black;
   
    
   
}



#dropdown > ul > li{
    padding: 10px;

}

#dropdown > ul > li:hover{
    background-color: #302D68;
    border-radius: 10px;
    

}

#dropdown > ul > li > a:hover{
    
    color: white;
    

}

#dropdown > ul > li > a > i{
    width: 25px;
    padding-top: 5px;
    
    
    
}

#dropdown > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: roboto;
    
}

#dropdown{
    
    display: none;
    position: absolute;
    margin-left: 1060px;
}

/*end of nav bar*/
#slide{
    
width: 100vw;
height: 381.83px;
margin-top: 43px;
background: linear-gradient(269.94deg, #302D68 21.19%, #E5E5E5 63.95%);
border: 0.890047px solid #000000;
box-sizing: border-box;
border-radius: 11.1256px;
display: flex;
justify-content: space-between;
align-items: center;
animation: right-left 1s ;



}



#slide >.slide-1{
    margin-left: 10px;
    
}

#slide >.slide-1 > h1{
width: 496.2px;
height: 52.07px;
left: 153.98px;
top: 170.44px;


font-family: Alfa Slab One;
font-style: normal;
font-weight: normal;
font-size: 32.0417px;
line-height: 44px;

color: #302D68;
}

#slide >.slide-1 > h1 > span{
    width: 496.2px;
    height: 52.07px;
    left: 153.98px;
    top: 170.44px;
    
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 32.0417px;
    line-height: 44px;
    
    color: #A52A2A;
    }

#slide >.slide-1 > h3{
    

    width: 600px;
height: auto;
left: 153.98px;
top: 235.86px;

font-family: Montez;
font-style: normal;
font-weight: normal;
font-size: 42.7222px;
line-height: 56px;
margin-top: 0px;

color: #302D68;

}
#btn-shop{
    width: 200px;
    height: 40px;
    background: #A52A2A;
    color: white;
    border-radius: 11.1256px;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
}

#btn-shop:hover{
    background-color: #302D68;
    color: white;
}


#img-1{
    float: right;
    width: 356.02px;
    height: 356.02px;
    margin-top: 30px;
    margin-right:0px;
    padding-left: 70px;
    

    
}



#slide >.slide-2{
    display: flex;
}

#slide > .left-key > button >img{
    width: 30px;
    display: flex;
    
    
    
}
#slide > .left-key > button{
    border-radius: 8px;
    background-color: #E5E5E5;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

#slide > .right-key > button{
    border-radius: 8px;
    background-color: #302D68;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin-right:10px;
    
}

#slide > .right-key > button:hover{
    background-color: #E5E5E5;
    color: white;
}

#slide > .left-key > button:hover{
    background-color: #A2A0B6;
    color: white;
    
}


#slide > .right-key > button >img{
    width: 30px;
    display: flex;
    
    
    
}


/*end of slide 1*/

























/*slide two start*/


#slide-02{
    
width: 100vw;
height: 381.83px;
margin-top: 43px;
background: linear-gradient(269.94deg, #302D68 21.19%, #E5E5E5 63.95%);
border: 0.890047px solid #000000;
box-sizing: border-box;
border-radius: 11.1256px;
display: flex;
justify-content: space-between;
align-items: center;
display: none;
animation: right-left 1s ;




}

#slide-02 > .left-key > button{
    border-radius: 8px;
    background-color: #E5E5E5;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}


#slide-02 > .left-key > button >img{
    width: 30px;
    display: flex;
    
    
    
}

#slide-02 > .left-key > button:hover{
    background-color: #A2A0B6;
    color: white;
    
}

#slide-02 >.slide-1{
    margin-left: 10px;
    
}

#slide-02 >.slide-1 > h1{
width: 600.2px;
height: 52.07px;
left: 153.98px;
top: 170.44px;


font-family: Alfa Slab One;
font-style: normal;
font-weight: normal;
font-size: 32.0417px;
line-height: 44px;

color: #302D68;

}

#slide-02 >.slide-1 > h1 > span{
    width: 496.2px;
    height: 52.07px;
    left: 153.98px;
    top: 170.44px;
    
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 32.0417px;
    line-height: 44px;
    
    color: #A52A2A;
    
    }

#slide-02 >.slide-1 > h3{
    

    width: 600px;
height: auto;
left: 153.98px;
top: 235.86px;

font-family: Montez;
font-style: normal;
font-weight: normal;
font-size: 42.7222px;
line-height: 56px;
margin-top: 0px;

color: #302D68;


}
#btn-shoping{
    width: 200px;
    height: 40px;
    background: #A52A2A;
    color: white;
    border-radius: 11.1256px;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
}

#btn-shoping:hover{
    background-color: #302D68;
    color: white;
}


#img-2{
    float: right;
    width: 356.02px;
    height: 356.02px;
    margin-top: 30px;
    margin-right:0px;
    padding-left: 70px;
    

    
}



#slide-02 >.slide-2{
    display: flex;
}

#slide-02 > .right-key > button{
    border-radius: 8px;
    background-color: #302D68;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin-right:10px;
}

#slide-02 > .right-key > button:hover{
    background-color: #E5E5E5;
    color: white;
}

#slide-02 > .right-key > button >img{
    width: 30px;
    display: flex;
    
    
    
}


/*slide 2 finished*/





#slide-03{
    
width: 100vw;
height: 381.83px;
margin-top: 43px;
background: linear-gradient(269.94deg, #302D68 21.19%, #E5E5E5 63.95%);
border: 0.890047px solid #000000;
box-sizing: border-box;
border-radius: 11.1256px;
display: flex;
justify-content: space-between;
align-items: center;
display: none;
animation: right-left 1s ;




}

#slide-03 > .left-key > button{
    border-radius: 8px;
    background-color: #E5E5E5;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}


#slide-03 > .left-key > button >img{
    width: 30px;
    display: flex;
    
    
    
}

#slide-03 > .left-key > button:hover{
    background-color: #A2A0B6;
    color: white;
    
}

#slide-03 >.slide-1{
    margin-left: 10px;
    
}

#slide-03 >.slide-1 > h1{
width: 600.2px;
height: 52.07px;
left: 153.98px;
top: 170.44px;


font-family: Alfa Slab One;
font-style: normal;
font-weight: normal;
font-size: 32.0417px;
line-height: 44px;

color: #302D68;

}

#slide-03 >.slide-1 > h1 > span{
    width: 496.2px;
    height: 52.07px;
    left: 153.98px;
    top: 170.44px;
    
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 32.0417px;
    line-height: 44px;
    
    color: #A52A2A;
    
    }

#slide-03 >.slide-1 > h3{
    

    width: 600px;
height: auto;
left: 153.98px;
top: 235.86px;

font-family: Montez;
font-style: normal;
font-weight: normal;
font-size: 42.7222px;
line-height: 56px;
margin-top: 0px;

color: #302D68;


}
#btn-shoping-1{
    width: 200px;
    height: 40px;
    background: #A52A2A;
    color: white;
    border-radius: 11.1256px;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
}

#btn-shoping-1:hover{
    background-color: #302D68;
    color: white;
}


#img-3{
    float: right;
    width: 356.02px;
    height: 500.02px;
    margin-top: 30px;
    margin-right:0px;
    padding-left: 70px;
    
    

    
}



#slide-03 >.slide-2{
    display: flex;
}

#slide-03 > .right-key > button{
    border-radius: 8px;
    background-color: #302D68;
    color: white;
    font-family: roboto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin-right:10px;
}

#slide-03 > .right-key > button:hover{
    background-color: #E5E5E5;
    color: white;
}

#slide-03 > .right-key > button >img{
    width: 30px;
    display: flex;
    
    
    
}

@keyframes right-left {
    0%   { opacity:0; }
    
    100% { opacity:1; }
}


/*slide 3 finished*/

























#top-1{
    border-top: 0.890047px solid #000000;
    border-bottom: 0.890047px solid #000000;
    margin-top: 40px;
    background-color: #F2F2F2;
    width: 100vw;
    padding-bottom: 40px;

}

#top-2{
    
    margin-top: 40px;
    background-color: white;
    width: 100vw;
    margin-bottom: 40px;

}

#top-3{
    border-top: 0.890047px solid #000000;
    border-bottom: 0.890047px solid #000000;
    margin-top: 40px;
    background-color: #F2F2F2;
    width: 100vw;
    padding-bottom: 40px;

}



/* product 1 start*/
.product-h{
    text-align: center;
    width: 100vw;
height: 40.01px;
color: #302D68;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 40.88px;
line-height: 57px;
}

.product-s{
    color: #A52A2A;
}




.main-img{
    width: 177px;
}

.product-desc-h{
    width: 185px;
height: 128.44px;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 32px;
color: #302D68;
margin-top: 0px;
margin-bottom: 0px;
}





.main-content > a > article{
    border:1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    display: grid;
    background-color: #f2f2f2;
}


.main-content > a{
    text-decoration: none;
}

.main-content > a> article:hover{
    animation: zoom 1s forwards;
    border:1px solid #302D68;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;

}

#scm{
     margin-top: 30px;
}

#smkc{
    margin-top: 20px;
}

#sct{
    margin-top: 40px;
}

#wekc{
    margin-top: 25px;
}
#ackc{
    margin-top: 40px;
}


@keyframes zoom {
    0%{
        transform: scale(1);
        
    }

    100%{
        transform: scale(1.1);
    }
}

/* product 1 end*/

.main-content{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    row-gap: 40px;
    margin-left: 25px;
    justify-content: space-around;
   
    
}

#main-content-2{
    grid-template-columns: 250px 250px;
}

#main-content-3{
    grid-template-columns: 250px 250px;
}

#topmost{
    margin-top: 0px;
    margin-left: 35px;
    width: 100px;
}


#map{
    width: 100vw;
    border: 0.890047px solid #000000;
    border-radius: 10px;
    
}


#top-4{
    padding-bottom: 40px;
}

/* footer start*/

#top-5{
    width:100vw;
height: 310px;
background-color: #302D68;
border-top: 0.5px solid black;
}

.aboutus{
    text-align: center;
    width: 100vw;
height: 40.01px;
color: white;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 40.88px;
line-height: 57px;
margin-top: 10px;
}

.foot-1 >h3{
width: 728.89px;
height: 149.33px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17.7778px;
line-height: 30px;
color: white;
}

.foot-1 >h3 > span{
    color: yellowgreen;
}

.foot-2 > a >h3{
    width: 350.89px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17.7778px;
color: white;
line-height: 35px;
}
.foot-2 > a >h3:hover{
    color:yellowgreen;
}

.foot-2 > a{
    text-decoration: none;
}

.flexwrapfooter{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    margin: 10px;
}

